
.title{
  text-align: center;
}

.calculator-body{
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height:300px;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.18);
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
  
}

.button {
  height: 30px;
  width: 40px;
  background-color: #fff;
  font-size: 1rem;
  text-shadow: 0 1px rgba(160, 29, 149, 0.4);
  font-weight: bold;
  box-shadow: 0 3px 5px rgba(160, 29, 149, 0.4);
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 75%;
}

.display{
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 5px;
  top: 30%;
  left: 50%;
  width: 200px;
  height:100px;
  background-color: #000000;
  background-image: linear-gradient(315deg, #c048ba 0%, #9eaeb9 74%);
  box-shadow: black;
}
